.mapboxjs-switcher {
  position: absolute;
  z-index: 100;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mapboxjs-switcher li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mapboxjs-switcher-base {
  top: 50px;
  left: 10px;
}

#mapboxjs-switcher-optional {
  bottom: 10%;
  left: 10px;
}

.mapboxjs-switcher a {
  font-size: 13px;
  background: #FFF;
  color: #3C4E5A;
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid #BBB;
  border-bottom-width: 0;
  min-width: 138px;
  padding: 10px;
  text-decoration: none;
}

.mapboxjs-switcher a:hover {
  background: #ECF5FA;
}

.mapboxjs-switcher li:last-child a {
  border-bottom-width: 1px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.mapboxjs-switcher li:first-child a {
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.mapboxjs-switcher a.mapboxjs-layer-active {
  background: #3887BE;
  border-color: #3887BE;
  color: #FFF;
}
